{{ define "main" }}
<h1>{{ .Title }}</h1>
<ul class="post-list">
    {{ range .Pages }}
    <li>
        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
        <p class="meta">{{ .Date.Format "2006-01-02" }} | {{ .Params.author | default "chebf" }}</p>
        {{ if .Description }}
        <p>{{ .Description }}</p>
        {{ end }}
        {{ if .Params.tags }}
        <div class="tags">
            {{ range .Params.tags }}
            <span>{{ . }}</span>
            {{ end }}
        </div>
        {{ end }}
    </li>
    {{ end }}
</ul>
{{ end }}